// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'font-awesome';

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Usage as a mixin
.element {
  @include clearfix;
}
