<footer>
  <hr>
  <div class="container clearfix">
    <small class= "float-right">
      Blog by
      <a href="mailto:pevmel@gmail.com">Viacheslav Panchuk</a>
    </small>
  </div>
  <hr>
</footer>
